.doc_head {
  display: flex;
  align-items: center !important;
}
.doc_head_label {
  font-size: 20px !important;
  margin-left: 5px !important;
}
.doc_head_icon {
}
.doc_btn_item {
  background-color: rgb(33, 152, 221) !important;
  color: #fff !important;
  border: none;
  border-radius: 5px;
  width: 30px !important;
  height: 30px;
  padding: 0.2% !important;
  font-size: 18px !important;
  margin-left: 10px;
}

.doc_btn_item:hover {
  cursor: pointer !important;
  background-color: rgb(7, 115, 187) !important;
}

.search {
  background-color: #ffff !important;
  float: right !important;
  width: 32% !important;
}
.doc_table {
  max-width: 100% !important;
  margin: auto !important;
}
table {
  text-align-last: center;
}
.error {
  color: rgb(247, 51, 51) !important;
  font-size: 15px;
}

.doc_action_btn {
  display: flex;
  justify-content: center;
}
.doc_edit_btn {
  background-color: rgb(230, 140, 31);
  color: #fff;
  margin-right: 10px;
  width: 22px;
  height: 22px;
  border-radius: 3px;
}

.doc_view_btn {
  background-color: rgb(55, 156, 202);
  color: #fff;
  width: 22px;
  height: 22px;
  border-radius: 3px;
}


.create_doc_type {
  font-weight: 600;
  padding: 0.5%;
  display: flex;
  justify-content: space-between;
  background-color: #e9e9e9;
}
#back_btn {
  background-color: rgb(216, 90, 90);
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 0.5%;
}
.create_doc_type_form {
  max-width: 50%;
  margin: auto;
  margin-top: 5%;
  border: 1px solid black;
  padding: 2%;
  border-radius: 5px;
}
.create_doc_type_auto_resize {
  min-width: 100%;
  min-height: 20vh;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 3%;
}
.create_doc_type_label {
  font-size: 15px;
  margin-top: 10px;
}
.create_doc_type_btn {
  position: relative;
  top: 0;
  left: 73%;
}
.create_doc_type_btn_cncl {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 7%;
  width: 60px;
  background-color: rgb(218, 42, 42);
}
.create_doc_type_btn_save {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 7%;
  width: 60px;
  margin-left: 10px;
  background-color: rgb(5, 153, 104);
}
